
body {
    display:flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: black;
    
}


.pokelogo {
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    

    

}

    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
      }
      
      li {
        
        font-size: medium;
        font-weight: bolder;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        display: flex;
        flex: 1;
        border: 2px black;
        border-style:solid;
        border-radius: 20%;
        margin: 5px;
        padding: 20px;
        background-color: rgb(245, 190, 10);
        justify-content:space-evenly;
        align-items: center;
        
        
      }
      
      .pokemon {
          font-size:large;
          font-family:Verdana, Geneva, Tahoma, sans-serif;
          margin-left: 20px;
          text-align: center;
        
      }

      img {
          width: 100px;

      }